@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

span{
    text-decoration: none;
    color: #292929;
    font-size: 30px;
    cursor: pointer;
  }

.container-body {
    background-image: url(sports-tools.jpg);
    opacity: 0.9;
    display: flex;
    height: 70%;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-direction: column;
    row-gap: 40px;
}

.container {
    width: 100%;
    max-width: 800px;
    border-style: solid;
    background: linear-gradient(to left ,#D24615,#993b19);
    opacity: 0.98;
    padding: 25px 30px;
    border-radius: 25px;
    border-style: solid;
    border-width: 1.5px;
    border-color: #D24615;
    height: 720px;

}

.container .title {
    font-size: 28px;
    position: relative;
}
.container .title h2 {
    text-align: center;
}

.container form .campos {
    display: grid;
    flex-wrap: wrap;
}

form .campos .input-box {
    width: 98%;
    margin: 12px;
}

.campos .input-box input {
    height: 50px;
    width: 100%;
    box-shadow: 5.2px 5.2px 5.2px #993b19;
    border: none;
    border-radius: 5px;
    background-color: #FCFCFC;

}


input[type="text"],
input[type="telefone"],
input[type="email"],
textarea,
textarea::placeholder,
input::placeholder {
    font-size: large;
    padding: 10px;
}

.campos .input-box textarea {

    resize: none;
    height: 240%;
    width: 100%;
    box-shadow: 5.2px 5.2px 5.2px #993b19;
    border: none;
    border-radius: 5px;
    background-color: #FCFCFC;
;
}

form .button {
    width: auto;
    height: 50px;
    margin: 140px;
}

form .button button {
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 22px;
    outline: none;
    color: #ffff;
    background-color: #292929;
    letter-spacing: 2px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.7s ease-in-out;
}

form .button button:hover {
    transform: scaleZ(1.8);
    background:#050505;
    transition: 0.7s ease-in-out;
}

@media (max-width: 600px) {
    .container {
        max-width: 100%;
    }

    .contacts {
        max-width: 100%;
    }

    form .campos .input-box {
        width: 100%;
        margin-bottom: 15px;
    }

}
