* {
  margin: 0;
  padding: 0;
}

/* body {
  background-color: rgb(221, 228, 245);
} */

span{
  text-decoration: none;
  color: #292929;
  font-size: 30px;
  cursor: pointer;
}


section {
  background-image: url(sports-tools.jpg);
  opacity: 0.9;
  padding: 70px;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
}

.main {
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


.box-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 620px;
  border-radius: 8px;
  gap: 30px;
  flex-wrap: wrap;
}

h1{
  color:#FCFCFC;  
}
form {
  width: 35%;
  background: linear-gradient(to left ,#D24615,#993b19);
  opacity: 0.98;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-wrap: wrap;
  border-radius: 25px;
  border-style: solid;
  border-width: 1px;
  border-color: #D24615;
  padding: 25px;
  height: 500px;
  box-shadow: 2.3px 2.3px 2.3px 2.3px #4e1e0d;
}

.name,
.email,
.telefone {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 72%;
  align-items: center;
}

input {
  width: 100%;
  height: 40px;
  box-shadow: 5.2px 5.2px 5.2px #993b19;
  border: none;
  border-radius: 5px;
  background-color: #FCFCFC;
  color:#292929;
}


.btn-concluir {
  background-color: #292929;
  width: 72%;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  color: #FCFCFC;
  font-size: 22px;
}

.btn-concluir:hover {
  transform: scaleZ(1.8);
  background:#050505;
  transition: 0.7s ease-in-out;
}

input[type="text"],
input[type="telefone"],
input[type="email"],
input[type="password"],
input::placeholder {
  font-size: large;
  padding: 12px;
}

@media(max-width: 650px) {
  .box-content {
    width: 400px;
  }

  form {
    width: 300px;
  }

  input {
    width: 200px;
  }
}



@media(max-width: 400px) {
  .box-content {
    width: 400px;
  }

  form {
    width: 220px;
  }


}
